[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=simple
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=PATH=/home/%i/.asdf/shims:/home/%i/.asdf/bin:/usr/local/bin:/usr/bin
Restart=on-failure

[Install]
WantedBy=default.target
